<p id="notice"><%= notice %></p>


<table id="bands" class="band-table">
  <thead>
    <tr>
      <th>Band Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td class="band-name"><%= band.name %></td>
        <td><a class="band-link" href="<%= band_albums_url(band) %>"> Show Band </a></td>
        <td><a class="band-link" href="<%= edit_band_url(band) %>"> Edit Band </a></td>
        <td><form class="band-link" action="<%= band_url(band) %>" method = "POST">
          <input type="hidden" name="_method" value="DELETE"> 
          <%= auth_token %>
          <input type="submit" value="Delete Band!"> </form></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button id="band-button" class="user-buttons"><%= link_to 'New Band', new_band_path %></button>
