<%= render 'users/form', user: @user, is_create: false %>

<button id="back-button" class="user-buttons"><%= link_to 'Back', bands_path %></button>

<!-- <form action="<%= session_url %>" method="post">
  <%= auth_token %>

  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]" value="<%= @user.email %>" placeholder="Email">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]" value="<%= @user.password %>" placeholder="Password">

  <input type="submit" value="Log In">
</form> -->