<h1>Album by <%= @album.band.name %></h1>

<p><%= @album.title %></p>
<p>Artist: <%= @album.band.name %></p>
<a href="<%= edit_band_album_url(@album) %>">Edit this album</a>
<form action="<%= band_album_url(@album) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete this album</button>
</form>
<a href="<%= band_album_url %>"><- Back to Index</a>